{% extends '::base.html.twig' %}

{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block body -%}
    <h1>Idea edit</h1>

    {{ form(edit_form) }}

    <div class="item-actions">
        <a href="{{ path('idea') }}" class="btn btn-sm btn-default">
            {#{{ 'action.show'|trans }}#}
            {{ 'Back to the list'|trans }}
        </a>

    </div>
    {{ form(delete_form) }}

{% endblock %}
