{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Idea list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Comments</th>
                <th>Likes</th>
                <th>Dislikes</th>
                <th>Status</th>
                <th>Video</th>
                <th>Audio</th>
                <th>Author</th>
                <th>User</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('idea_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.price }}</td>
                <td>{{ entity.category }}</td>
                <td>{{ entity.comments|length }}</td>
                <td>{{ entity.likes }}</td>
                <td>{{ entity.dislikes }}</td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.video }}</td>
                <td>{{ entity.audio }}</td>
                <td>{{ entity.author }}</td>
                <td>{{ entity.user }}</td>
                <td>
                    <div class="item-actions">
                        <a href="{{ path('idea_show', { 'id': entity.id }) }}" class="btn btn-sm btn-default">
                            {#{{ 'action.show'|trans }}#}
                            {{ 'Show Idea'|trans }}
                        </a>

                        {#{% if post.isAuthor(app.user) %}#}
                            <a href="{{ path('idea_edit', { 'id': entity.id }) }}" class="btn btn-sm btn-primary">
                                {#<i class="fa fa-edit"></i> {{ 'action.edit'|trans }}#}
                                <i class="fa fa-edit"></i> {{ 'Edit Idea'|trans }}
                            </a>
                        {#{% endif %}#}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="section actions">
        <a href="{{ path('idea_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus"></i> {{ 'Create Idea'|trans }}
        </a>
    </div>
        {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('idea_new') }}">#}
                {#Create a new entry#}
            {#</a>#}
        {#</li>#}
    </ul>
    {% endblock %}
