{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Idea</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ entity.category }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ entity.comments|length }}</td>
            </tr>
            <tr>
                <th>Likes</th>
                <td>{{ entity.likes }}</td>
            </tr>
            <tr>
                <th>Dislikes</th>
                <td>{{ entity.dislikes }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Video</th>
                <td>{{ entity.video }}</td>
            </tr>
            <tr>
                <th>Audio</th>
                <td>{{ entity.audio }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ entity.author }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ entity.user }}</td>
            </tr>
        </tbody>
    </table>

    <div class="item-actions">
        <a href="{{ path('idea') }}" class="btn btn-sm btn-default">
            {#{{ 'action.show'|trans }}#}
            {{ 'Back to the list'|trans }}
        </a>

        {#{% if post.isAuthor(app.user) %}#}
        <a href="{{ path('idea_edit', { 'id': entity.id }) }}" class="btn btn-sm btn-primary">
            {#<i class="fa fa-edit"></i> {{ 'action.edit'|trans }}#}
            <i class="fa fa-edit"></i> {{ 'Edit Idea'|trans }}
        </a>
        {#{% endif %}#}
    </div>
    {{ form(delete_form) }}
{% endblock %}
